.userChat {
  display: flex;
  height: 42px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.chat {
  height: 100%;
  width: 500px;
  border-radius: 21px;
  background-color: #494949;
}